
img {
    border-radius: 10%;
}

.crazy-milk {
    background: linear-gradient(white, pink);
    padding: 20px;
}

h2 {
    display: inline;
}


.flex {
    display: flex;
}

.description {
    width: 300px;
    padding: 20px;
}

.ingredients {
    width: 300px;
    padding: 20px;
}
